{% comment %}
Accepts:
- product: {Object} Product liquid object

Usage:
{% render 'details-product' product: product %}
{% endcomment %}

<style>
  .detalhes_content {
    text-align: center;
    margin: 16px 16px 0;
  }

  @media (min-width: 960px) {
    .detalhes_content {
      width: 600px;
    }
  }

  @media (min-width: 600px) {
    .detalhes_content {
      width: 540px;
      margin: 16px auto 0;
      text-align: center;
    }
  }

  .detalhes_titulo {
    margin: 0;
    padding: 0;
    font-family: avenir_heavy;
    line-height: 1.2;
    letter-spacing: -0.06em;
    font-size: 32px;
  }

  @media (min-width: 960px) {
    .detalhes_titulo {
      font-size: 56px;
    }
  }

  .detalhes_subtitulo {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: avenir_book;
    line-height: 1.2;
    letter-spacing: -0.040em;
    font-size: 24px;
  }

  @media (min-width: 960px) {
    .detalhes_subtitulo {
      font-size: 32px;
    }
  }

  .detalhes_descricao {
    color: #999999;
    margin: 0;
    padding: 0;
    font-family: avenir_book;
    line-height: 1.2;
    letter-spacing: -0.040em;
    font-size: 18px;
    margin-top: 24px;
    line-height: 1.4;
    text-align: left;
  }

  @media (min-width: 960px) {
    .detalhes_descricao {
      font-size: 20px;
      margin-top: 24px;
    }
  }

  .detalhes_container-imagem {
    display: flex;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  .detalhes_imagem {
    width: 100%;
    margin-top: 48px;
  }

  @media (min-width: 600px) {
    .detalhes_imagem {
      max-width: 568px;
      margin-left: auto;
      margin-right: auto;
      object-fit: contain;
    }
  }

  @media (min-width: 960px) {
    .detalhes_imagem {
      max-width: 800px;
      margin-top: 72px;
      object-fit: contain;
    }
  }

</style>

<div id="details-root"></div>


<script>
  const dados = JSON.parse({{ product.description | json }});

  document.addEventListener("DOMContentLoaded", function() {
    const secaoDetalhes = () => (`
      <section class="section-detalhes" class="detalhes">
        <div class="detalhes_content">
              <h2 class="detalhes_titulo">${dados.detalhes.titulo}</h2>
              <h3 class="detalhes_subtitulo">${dados.detalhes.subtitulo}</h3>
              <p class="detalhes_descricao">${dados.detalhes.descricao}</p>
          </div>
          <div class="detalhes_container-imagem">
            <img class="detalhes_imagem" src="{{ product.images[1] | img_url: 'large' }}" alt="{{ second_image.alt | escape }}">
          </div>
      </section>
    `);


    const root = document.querySelector("#details-root");

    root.innerHTML += secaoDetalhes();
  
});
</script> 