<script>
  window.addEventListener('DOMContentLoaded', (event) => {
    const urlParams = new URLSearchParams(window.location.search);
    const introParam = urlParams.get('intro');
    
    console.log(introParam  )
    if (introParam?.replace("/", "") == 'politica-de-vendas') {
      console.log(introParam)
      document.getElementById('politica-de-vendas').classList.remove('disable');
    } else {
      document.getElementById('about').classList.remove('disable');
    }
  });
</script>

<style>
  .disable {
    display: none !important;
  }
</style>

<div id="politica-de-vendas" class="disable">
  {% render 'politica-de-vendas' %}
</div>

<div id="about" class="disable">
  {% render 'main-sobre' %}
</div>