.footer {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  border-top: 1px solid #e5e5e5;
}

.footer__content-top {
  padding: 16px 0;
  display: block;
}

.footer__content-top .content { } 
@media(min-width: 600px) {
  .footer__content-top .content { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }

  .list-link-external {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}

.footer__content-top .list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__content-top .list-social {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: start;
}

.footer__content-top .list-social li img {
  height: 24px;
}

.footer__content-top .list .text {
  font-family: avenir_book;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: -0.040em;
  text-decoration: none;
  color: #000;
}

.footer__content-bottom { 
  background: #f2f2f2;
}

.footer__content-bottom .wrapper-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 0;
}
@media(min-width: 600px) {
  .footer__content-bottom .wrapper-info { 
    flex-direction: row;
    justify-content: space-between;
  }

  .wrapper-info div:nth-child(2) {
    text-align: end;
  }
}

.footer__content-bottom .text {
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: avenir_book;
  line-height: 1.2;
  letter-spacing: -0.040em;
  color: #999999;
}
